/* CSS RESET */
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root{
    --navbar-height: 59px
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: sticky;
    top: 0px;
    font-family: 'Oswald', sans-serif;
}

#navbar::before{
    top: 0px;
    left: 0px;
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}

/* Navigation Bar Logo and Image */
#logo{
    margin: 10px 30px;
}

#logo img{
    height: 60px;
    margin: 3px 5px;
}

/* Navigation Bar List Styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 2rem;
}

#navbar ul li a{
    color: wheat;
    display: block;
    padding: 4px 30px;
    border-radius: 10px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    z-index: -1;
    opacity: 0.80;
}

#home h1{
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
}

#home p{
    font-family: 'Bree Serif', serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* Services Classes */

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
    margin: 3px 6px;
    padding: 36px;
    border-radius: 28px;
    background-color: #f5ecec;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
}
#services{}
#services{}

/* Client Section */
#client-section{
    /* height: 344px; */
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    z-index: -1;
    background: url('../bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 343px;
    opacity: 0.4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
 #clients img{
    height: 150px;
}

.client-item{
    padding: 34px;
}

/* Contact Section  */
#contact{
    position: relative;
}

#contact::before{
    position: absolute;
    z-index: -1;
    content: "";
    height: 100%;
    width: 100%;
    background: url('../contact1.jpg') no-repeat center center/cover;
    opacity: 0.9;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
}

#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: relative;
    /* margin-top: 400px; */
}

/* Utility Classes */

.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 5px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center{
    text-align: center;
}